html
  head
    title Item profile
  body
    h1 Item profile
    a(href='/') back to items list
    br
    br
    table(border='2')
      tr
        td Name:
        td #{item.name}
      tr
        td Details:
        td #{item.details}
